*{margin: 0px;padding: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{font-family: "Lato",sans-serif;font-size: 14px;}
.bg-pink{background: lightpink;}

.headerWrapper .top-strip{padding: 8px 0px;}
.headerWrapper .top-strip p{color: #000;font-size: 12px;font-weight: 700;}

.headerWrapper .header{width: 100%;height: auto;}
.logoWrapper img{width: 100%;  }
.header .container{margin: 20px;margin-top: 10px;}

.headerWrapper .header .part2 .countryDrop{text-align: left;justify-content: flex-start !important;}
.headerWrapper .header .part2 .countryDrop{width: 170px;height: 60px;min-width: 170px;color: #000 !important;border: 1px solid rgba(0,0,0,0.2) !important;border-radius: 7px !important;padding: 10px 15px !important;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important;text-transform: capitalize !important;color: rgba(0,0,0,0.5) !important;line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 14px !important;text-transform: capitalize !important;color: #233a95 !important; font-weight: 700;line-height: 16px;}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{opacity: 0.7;}

header .headerSearch{width: 60%;height: 60px;background: #f3f4f7;padding: 10px;position: relative;border-radius: 10px;border: 1px solid rgba(0,0,0,0.1);}
header .headerSearch input{background: transparent !important;outline: none !important;font-size: 14px;color: rgba(0,0,0,0.8);width: 100%;height: 40px;border: 0px !important;padding: 0px 20px !important;}
header .headerSearch button{position: absolute;top: 10px;right: 15px;z-index: 100;min-width: 40px !important;height: 40px !important;width: 40px !important;border-radius: 50% !important;color: #000;}
header .headerSearch button svg{font-size: 25px;}

.headerWrapper .header .part3 button{width: 170px;height: 60px;min-width: 170px;color: #000 !important;border: 1px solid rgba(0,0,0,0.2) !important;border-radius: 7px !important;padding: 10px 25px !important;}
.headerWrapper .header .part3 .upload{font-size: 15px !important;text-transform: capitalize !important;color:#000 !important;margin-top: 4px;}
.headerWrapper .header .part3 span.ml-auto svg{opacity: 0.7;margin-right: 10px;font-size: 20px;color: #000;width: 100%;}

header .part4 .fav{min-width: 45px !important;height: 45px !important;width: 45px !important;border-radius: 50% !important;border: 1px solid rgba(0,0,0,0.1) !important;color: #000;}
header .part4 .fav svg{font-size: 22px;}
header .part4 .cart{min-width: 45px !important;height: 45px !important;width: 45px !important;border-radius: 50% !important;border: 1px solid rgba(0,0,0,0.1) !important;color: #000;}
header .part4 .cart svg{font-size: 22px;}
header .part4 .circle{min-width: 45px !important;height: 45px !important;width: 45px !important;border-radius: 50% !important;border: 1px solid rgba(0,0,0,0.1) !important;color: #000;}
header .part4 .circle svg{font-size: 22px;}







